$headerBackground: url(../img/m-h-night.jpg);
$mainBackground: rgb(31, 32, 54);
$font-family: 'Hind', sans-serif;
$colors: (
    firstTextColor: white,
    secondTextColor: white,
    linearGradientColor: linear-gradient(40deg, #ffc516, #bf446e),
    wordsBackground: rgb(255, 81, 0),
    buttonBackgrond: rgb(202, 202, 36),
    pColor:#ccc,
    footerbackground:#3b3f50,
    boxSectionColor: #3b3f50
);