$headerBackground: url(../img/m-h-day.jpg);
$mainBackground: white;
$font-family: 'Hind', sans-serif;
$colors: (
    firstTextColor:rgb(31, 32, 54),
    secondTextColor: white,
    linearGradientColor: linear-gradient(40deg, #8ac318, #4a7afd),
    wordsBackground: rgb(6, 117, 168),
    buttonBackgrond: rgb(1, 128, 1),
    pColor:#ccc,
    footerbackground:rgb(31, 32, 54),
    boxSectionColor:rgb(31, 32, 54)
);