body {
    font-family: sans-serif;
}

.main__id{
    margin: 2px;
}
.userDate{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
}
.input{
    border: none;
}
.label-name,
.label-username,
.label-email,
.label-address,
.label-phone,
.label-website,
.label-company{
    display: flex;
}
.userDate{
    margin: auto;
}
.userDate{
    position: relative;
    border: 2px solid rgb(27, 149, 185);
    border-radius: 20px;
    margin-top: 20px;
    padding: 42px;
}
.edit-btn{
    position: absolute;
    left: 220px;
    bottom: 200px;
    background: red;

    border-radius: 5px;
}
.btn{
    position: absolute;
    bottom: 10px;
    left: 110px;
}
.cat{
    position: absolute;
    top: 10px;
    left: 150px;
    max-width: 75px;
    max-height: 50px;
    border-radius: 10px;

}


.loading .lds-ring{
    display: inline-block;
}



.lds-ring {
    position: absolute;
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #cef;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #cef transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  