@import 'variables';
.header__wrapper{
    background: #f8f9fa;
}
.header__img{
    max-width: 620px;
}
.header__link:hover,
.header__link:active{
    background: #colors[headersAndRcs];
}
.related-classes__img{
    max-width: 216px;
}
.related-classes__card{
    margin-right: 32px;
}